* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: transparent;
}

body {
  background: #fff3cd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#calculator {
  background: #4d3e3e;
  border-radius: 20px;
  color: #fff;
  padding: 25px;
  width: 230px;
  box-shadow: 8px 8px 8px #888888;
}

#outer-display {
  padding-top: 30px;
  text-align: right;
}

#expression-display {
  overflow-wrap: break-word;
}

#display {
  font-size: 2rem;
  overflow-wrap: break-word;
}

hr {
  background: #fff3cd;
}

.button {
  text-align: center;
  width: 90px;
  line-height: 3.2;
  cursor: pointer;
}

#operators {
  padding-left: 0px;
  color: #ffc38b;
}

#equals {
  color: #ff926b;
}

footer {
  margin-top: 3rem;
  color: #4d3e3e;
  padding: 2rem;
  font-family: arial;
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  color: #ff926b;
  font-weight: bold;
}

footer a:hover {
  color: #ffc38b;
}
